venv/
test_data/
.ipynb_checkpoints/

baseline_calculation/azure_data/*
baseline_calculation/azure_data/**

!baseline_calculation/azure_data/raw_data/
!baseline_calculation/azure_data/raw_data/**

!baseline_calculation/azure_data/static_data/
!baseline_calculation/azure_data/static_data/**

baseline_calculation/baseline_results
baseline_calculation/figures

baseline_calculation/*.csv
baseline_calculation/*.yaml
baseline_calculation/*.yml

!baseline_calculation/manifest.yml

controlled_experiments/results_data
controlled_experiments/figures
